services:
  app:
    container_name: ai_optimizer_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    restart: unless-stopped


